@import url('https://fonts.googleapis.com/css?family=Alegreya')
@import 'components/todo'
@import 'icons'

html,
body
    padding 0
    height 100%

.app-block
    height 100%
    position relative
    font 15px/18px 'Alegreya', sans-serif
    
